# Shared
NODE_ENV=development

# React client
VITE_API_BASE_URL=http://localhost:5000/api
VITE_ML_API_URL=http://localhost:8000

# Node API
PORT=5000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb://localhost:27017/ne-pollution
OPENWEATHER_API_KEY=replace_with_openweather_key
WAQI_TOKEN=replace_with_aqicn_token
ML_SERVICE_URL=http://localhost:8000

# Python ML service
MODEL_PATH=ml-service/model/aqi_model.joblib
